<!--<p>Tests</p>-->
<!--<table>-->
<!--  <tr *ngFor = "let testUser of testUsers">-->
<!--    <td>-->
<!--    Имя пользователя: {{testUser?.name}}-->
<!--      <br>-->
<!--    Возраст пользователя: {{testUser?.age}}-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->


<p>Users</p>
<table>
  <tr *ngFor = "let user of users" class="hoverElements">
    <td (click)="input(user)">
<!--      <a href="/notification?userId={{user?.id}}">войти</a>-->
<!--      <a class="href-nav-item" [routerLink]="['/notifications']">Войти</a>-->
<!--      <a class="href-nav-item" [routerLink]="['/notifications?userId=', user?.id]">Войти</a>-->

<!--      <a class="href-nav-item" [routerLink]="['/notifications', user?.id]">Войти</a>-->
<!--      <a class="href-nav-item" [routerLink]="['/notifications', user?.id]">Войти</a>-->
      <!--(click)="selectUser(user?.id)"-->


<!--      <br>-->
<!--      ID пользователя: {{user?.id}}-->
<!--      <br>-->
<!--      firstName пользователя:-->
      {{user?.firstName}}
<!--      <br>-->
<!--      lastName пользователя:-->
      {{user?.lastName}}
      <br>
<!--      organization.id = {{user.organization.id}}-->
<!--      <br>-->
      organization
<!--      .name =-->
      {{user.organization.name}}
<!--      <br>-->
      <span *ngIf="user.organization.government">
         (organization is government)
      </span>
      <br>
    </td>
  </tr>
</table>
