<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/cascade.css}" type="text/css"/>
</head>
<body>

<h2><strong>Добавить уведомление</strong></h2>
<form id="addNotification" method="post" th:action="@{/account/addNotification/add/}">
    <p>Введите тип уведомления</p>
    <input id="notificationType" name="notificationType" type="text"/><br>
    <p>Введите дату, до которой нужно отправить ответ</p>
    <input id="dateResponse" name="dateResponse" type="date"/><br>
    <p>Выберите организацию, которой вы хотите предоставить уведомление</p>
    <select name="orgId">
        <option th:each="organization : ${organizations}"
                th:text="${organization.name}"
                th:value="${organization.id}">
        </option>
    </select><br>
    <input type="submit" value="Отправить"/>
</form>
</body>
</html>