<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<main class="login-main">
    <h2 class="login-header">Login</h2>
    <ul class="login-list">
        <li class="login-list-element">
            <form class="login-form" method="post" th:action="@{/login/}">
                <ul class="login-form-list">
                    <li class="login-form-list-element">
                        <label class="login-form-label" for="input-userName"> User Name: <input
                                class="login-form-input"
                                id="input-userName"
                                name="login"
                                type="text"/>
                        </label>
                    </li>
                    <li class="login-form-list-element">
                        <label class="login-form-label" for="input-password"> Password: <input
                                class="login-form-input"
                                id="input-password"
                                name="password"
                                type="password"/>
                        </label>
                    </li>
                    <li class="login-form-list-element">
                        <label class="login-form-label" for="submit-button">
                            <button id="submit-button" type="submit">Логин</button>
                        </label>
                    </li>
                </ul>
            </form>
        <li class="login-list-element">
            <form class="registration-form" method="get" th:action="@{/registration/}">
                <label class="login-form-label" for="submit-button2">
                    <button id="submit-button2" type="submit">Регистрация</button>
                </label>
            </form>
        </li>
    </ul>
</main>
</body>
</html>