<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1>Login page</h1>
<form class="form-horizontal" method="post" th:action="@{/login/}">
    <div>
        <label class="control-label"> User Name: <input name="login" type="text"/>
        </label>
    </div>
    <div>
        <label class="control-label"> Password: <input name="password" type="password"/>
        </label>
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Логин"/>
    </div>
</form>
<div class="link">
    <form method="get" th:action="@{/registration/}">
        <button type="submit">Регистрация</button>
    </form>
</div>
</body>
</html>