<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actions_list</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/casca.css}" type="text/css"/>
</head>
<body>
<header class="account-header">
    <div class="account-header-personal_info">
        <div class="account-header-account-href">
            <a th:href="@{/account/}"><h2>Личный кабинет</h2></a>
        </div>
        <div class="account-header-personal-data">
            <div class="account-header-user_info">
                <p th:text="${user.firstName}+' '+${user.lastName}"></p>
            </div>
            <div class="account-header-logout-button">
                <a th:href="@{/logout/}">Выход</a>
            </div>
        </div>
    </div>
    <div class="account-header-organization-name">
        <p th:text="${user.organization.name}"></p>
    </div>
</header>
<main>
    <div>
        <h3>Журнал Действий</h3>
    </div>
    <table>
        <tr>
            <th>№</th>
            <th>Дата, время</th>
            <th>Комментарий</th>
            <th>Пользователь</th>
            <th>Подразделение</th>
            <th>Статус после изменения</th>
        </tr>
        <tr th:each="action : ${actions}">
            <td th:text="${action.id}">id</td>
            <td th:text="${#dates.format(action.date)}">date</td>
            <td th:text="${action.content}">content</td>
            <td th:text="${action.implementor.firstName}+' '+${action.implementor.lastName}">implementor</td>
            <td th:text="${action.implementor.organization.name}">organization</td>
            <td th:text="${action.statusAfterAction.message}">status</td>
        </tr>
    </table>
</main>
</body>
</html>