<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actions_list</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/cascade.css}" type="text/css"/>
</head>
<body>
<h2>Actions history</h2>
<table>
    <tr>
        <th>№</th>
        <th>Дата, время</th>
        <th>Комментарий</th>
        <th>Пользователь</th>
        <th>Подразделение</th>
        <th>Статус после изменения</th>
    </tr>
    <tr th:each="action : ${actions}">
        <td th:text="${action.id}">id</td>
        <td th:text="${#dates.format(action.date)}">date</td>
        <td th:text="${action.content}">content</td>
        <td th:text="${action.implementor.firstName}">implementor</td>
        <td th:text="${action.implementor.organization.name}">organization</td>
        <td th:text="${action.status.name}">status</td>
    </tr>
</table>
</body>
</html>