<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/cascade.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/cascade.css}" type="text/css"/>
</head>
<body>
<h3>Starting page</h3>
<table>
    <tr>
        <th>№</th>
        <th>Вид уведомления</th>
        <th>Заказчик</th>
        <th>Статус обработки уведомления</th>
        <th>Дата получения уведомления</th>
        <th>Срок предоставления ответа</th>
        <th>Номер письма</th>
        <th>Совершить действие</th>
        <th>Журнал действий</th>
        <th>Удалить</th>
    </tr>
    <tr th:each="notification : ${notifications}">
        <td th:text="${notification.id}">id</td>
        <td th:text="${notification.notificationType}">notification_type</td>
        <td th:text="${notification.organization.name}">org_name</td>
        <td th:text="${notification.status.name}">notification_status</td>
        <td th:text="${#dates.format(notification.dateReceived, 'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(notification.dateResponse, 'yyyy-MM-dd')}"></td>
        <td th:text="${notification.letterNumber}">letter_number</td>
        <td>
            <form method="get" th:action="@{/account/perform_action/}">
                <input name="id" th:value="${notification.id}" type="hidden"/>
                <label for="actions_form"/>
                <input id="actions_form" type="submit" value="Работа с уведомлением"/>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{/account/actions_history/}">
                <input name="id" th:value="${notification.id}" type="hidden"/>
                <label for="view_form"/>
                <input id="view_form" type="submit" value="view"/>
            </form>
        </td>
        <td>
            <form method="post" th:action="@{/account/delete/}">
                <input name="id" th:value="${notification.id}" type="hidden">
                <label for="delete_form"/>
                <input id="delete_form" type="submit" value="delete"/>
            </form>
        </td>
    </tr>
</table>
<div class="link">
    <form method="get" th:action="@{/account/addNotification/}">
        <button type="submit">Новое уведомление</button>
    </form>
</div>
</body>
</html>