<!DOCTYPE html>
<html id="main-element" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/casca.css}" type="text/css"/>
</head>
<body id="body">
<header class="account-header">
    <div class="account-header-personal_info">
        <div class="account-header-account-href">
            <a th:href="@{/account/}"><h2>Личный кабинет</h2></a>
        </div>
        <div class="account-header-personal-data">
            <div class="account-header-user_info">
                <p th:text="${user.firstName}+' '+${user.lastName}"></p>
            </div>
            <div class="account-header-logout-button">
                <a th:href="@{/logout/}">Выход</a>
            </div>
        </div>
    </div>
    <div class="account-header-organization-name">
        <p th:text="${user.organization.name}"></p>
    </div>
</header>
<main class="account-main">
    <section class="account-filter">
        <form class="account-filter-form" id="filter-form">
            <div class="account-filter-form-first_part">
                <label class="account-filter-form-checkbox-label" for="checkbox1">
                    <input class="account-filter-form-checkbox" id="checkbox1" name="newFilter"
                           th:checked="${stateOfPage.newFilter}"
                           type="checkbox" value="true">
                    <span>Новое</span>
                </label>
                <label class="account-filter-form-checkbox-label" for="checkbox2">
                    <input class="account-filter-form-checkbox" id="checkbox2" name="inProcessingFilter"
                           th:checked="${stateOfPage.inProcessingFilter}" type="checkbox" value="true">
                    <span>В обработке</span>
                </label>
                <label class="account-filter-form-checkbox-label" for="checkbox3">
                    <input class="account-filter-form-checkbox" id="checkbox3" name="rejectedFilter"
                           th:checked="${stateOfPage.rejectedFilter}"
                           type="checkbox" value="true">
                    <span>Отклонено</span>
                </label>
                <label class="account-filter-form-checkbox-label" for="checkbox4">
                    <input class="account-filter-form-checkbox" id="checkbox4" name="approvedFilter"
                           th:checked="${stateOfPage.approvedFilter}"
                           type="checkbox" value="true">
                    <span>Одобрено</span>
                </label>
            </div>
            <div class="account-filter-form-second_part">
                <button class="account-filter-form-button-submit" id="apply_filters" onclick="doFilter()"
                        type="button" value="Применить фильтр">ПРИМЕНИТЬ ФИЛЬТР
                </button>
                <button class="account-filter-form-button-reset" id="clean_filters" onclick="doFilter()"
                        type="reset">ОЧИСТИТЬ ФИЛЬТР
                </button>
                <label class="account-filter-form-select-time_filter" for="select1"> Истекает срок предоставления ответа
                    <select id="select1" name="timeFilter">
                        <option th:if="${stateOfPage.timeFilter != null}"
                                th:selected="${stateOfPage.timeFilter}"
                                th:text="${stateOfPage.timeFilter.message()}"
                                th:value="${stateOfPage.timeFilter}">Выберите срок предоставления ответа
                        </option>
                        <option th:text="${stateOfPage.timeFilter.THREE_DAYS.message()}"
                                th:value="${stateOfPage.timeFilter.THREE_DAYS}">3 дня
                        </option>
                        <option th:text="${stateOfPage.timeFilter.TEN_DAYS.message()}"
                                th:value="${stateOfPage.timeFilter.TEN_DAYS}">10 дней
                        </option>
                        <option th:text="${stateOfPage.timeFilter.THIRTY_DAYS.message()}"
                                th:value="${stateOfPage.timeFilter.THIRTY_DAYS}">30 дней
                        </option>
                    </select>
                </label>
            </div>
            <div>
                <nav aria-label="Pagination" class="account-main-notifications-manager-pagination"
                     th:if="${stateOfPage.page.totalPages gt 0}">
                    <ul class="pagination justify-content-center font-weight-bold">
                        <li class="page-item"
                            th:classappend="${stateOfPage.page.number eq 0} ? 'disabled'">
                            <a aria-label="Previous"
                               class="page-link"
                               data-toggle="tooltip"
                               th:href="@{/account/?page={id}(id=${stateOfPage.page.number lt 2 ? 1 : stateOfPage.page.number})}"
                               title="Previous Page">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            <input name="pageNumber" onclick="doFilter()"
                                   th:value="${stateOfPage.page.number lt 2 ? 1 : stateOfPage.page.number}"
                                   type="radio">
                        </li>
                        <li class="page-item"
                            th:classappend="${i eq stateOfPage.page.number + 1} ? 'active'"
                            th:each="i : ${#numbers.sequence( 1, stateOfPage.page.totalPages, 1)}">
                            <a class="page-link" data-toggle="tooltip" th:href="@{/account/?page={id}(id=${i})}"
                               th:text="${i}" th:title="${'Page '+ i}"></a>
                            <input name="pageNumber" onclick="doFilter()" th:value="${i}" type="radio">
                        </li>
                        <li class="page-item"
                            th:classappend="${stateOfPage.page.number + 1 eq stateOfPage.page.totalPages} ? 'disabled'">
                            <a aria-label="Next"
                               class="page-link"
                               data-toggle="tooltip"
                               th:href="@{/account/?page={id}(id=${stateOfPage.page.number + 2})}"
                               title="Next Page">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            <input name="pageNumber" onclick="doFilter()"
                                   th:value="${stateOfPage.page.number + 2}" type="radio">
                        </li>
                    </ul>
                </nav>
            </div>
        </form>
    </section>
    <section class="account-main-notifications">
        <table class="account-main-notifications-table">
            <tr>
                <th>№</th>
                <th>Вид уведомления</th>
                <th>Заказчик</th>
                <th>Статус обработки уведомления</th>
                <th>Дата получения уведомления</th>
                <th>Срок предоставления ответа</th>
                <th>Номер письма</th>
                <th>Совершить действие</th>
                <th>Журнал действий</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="notification : ${stateOfPage.page.content}">
                <td th:text="${notification.id}">id</td>
                <td th:text="${notification.notificationType}">notification_type</td>
                <td th:text="${notification.organization.name}">org_name</td>
                <td th:text="${notification.status}">notification_status</td>
                <td th:text="${#dates.format(notification.dateReceived, 'yyyy-MM-dd')}"></td>
                <td th:text="${#dates.format(notification.dateResponse, 'yyyy-MM-dd')}"></td>
                <td th:text="${notification.letterNumber}">letter_number</td>
                <td>
                    <form method="post" th:action="@{/account/notification_info/}">
                        <label for="hidden1">
                            <input id="hidden1" name="id" th:value="${notification.id}" type="hidden"/>
                        </label>
                        <label for="submit3">
                            <input id="submit3" type="submit" value="Работа с уведомлением"/>
                        </label>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/account/notification_actions_history/}">
                        <label for="hidden2">
                            <input id="hidden2" name="id" th:value="${notification.id}" type="hidden"/>
                        </label>
                        <label for="submit4">
                            <input id="submit4" type="submit" value="Журнал действий"/>
                        </label>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{/account/delete/}">
                        <label for="hidden3">
                            <input id="hidden3" name="id" th:value="${notification.id}" type="hidden">
                        </label>
                        <label for="delete_form">
                            <input id="delete_form" type="submit" value="Удалить"/>
                        </label>
                    </form>
                </td>
            </tr>
        </table>
        <section class="account-main-manager">
            <div class="account-main-manager-total_elements">
                <p>Найдено записей: <span th:text="${stateOfPage.page.totalElements}"></span></p>
            </div>
            <div class="account-main-notifications-manager-add_notification">
                <a th:href="@{/account/addNotification/}">Добавить уведомление</a>
            </div>
        </section>
</main>
</body>
<script th:src="@{/js/personalAcc.js}"></script>
</html>