<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notifications</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/cascade.css}" type="text/css"/>
</head>
<body>
<h3>Registration page</h3>
<form action="registerUser/" method="post">
    First name<br><input name="firstName" type="text"/><br>
    Last name<br><input name="lastName" type="text"/><br>
    Login<br><input name="login" type="text"/><br>
    Password<br><input name="password" type="text"/><br>
    Your organization<br>
    <select name="orgId">
    <option th:each="organization : ${organizations}"
            th:text="${organization.name}"
            th:value="${organization.id}">
    </option>
</select>
    <br>
    <input type="submit" value="Отправить">
</form>
</body>
</html>