<div id="content">
  <div id="add_action" class="form-group">

      <table class="table4input_data" style="width: auto">
        <tr>
          <th>Ответственный исполнитель заказчика:</th>
          <td>
            <select type="text" class="form-control" name="idUserImplementor"
                    [(ngModel)]="actionPortionDto.idUserImplementor" #idUserImplementor="ngModel" required > <!--name="maxResult"-->
              <option *ngFor="let tempUser of render.users"
                      [value]="tempUser.id"
                      [selected]="tempUser.id == render.user.id">
                {{tempUser.firstName}} {{tempUser.lastName}}
              </option>
              <div [hidden]="idUserImplementor.valid || idUserImplementor.untouched" class="error alert alert-danger">
                Некорректное поле
              </div>
            </select>
          </td>
        </tr>

        <tr>
          <th>Действие:</th>
          <td>
            <select type="text" class="form-control" name="idActionType"
                    [(ngModel)]="actionPortionDto.idActionType" #idActionType="ngModel" required > <!--name="maxResult"-->
              <option *ngFor="let tempActionType of render.listActionType"
                      [value]="tempActionType.id">
                {{tempActionType.name}}
              </option>

              <div [hidden]="idActionType.valid || idActionType.untouched" class="error alert alert-danger">
                Некорректное поле
              </div>
            </select>
          </td>
        </tr>

        <tr>
          <th>Статус:</th>
          <td>
            <select type="text" class="form-control" name="idNotificationStatus"
                    [(ngModel)]="actionPortionDto.idNotificationStatus" #idNotificationStatus="ngModel" required > <!--name="maxResult"-->
              <option *ngFor="let tempStatus of render.listStatus"
                      [value]="tempStatus.id">
                {{tempStatus.name}}
              </option>

              <div [hidden]="idNotificationStatus.valid || idNotificationStatus.untouched" class="error alert alert-danger">
                Некорректное поле
              </div>
            </select>
          </td>
        </tr>

        <tr>
          <th>Комментарий:</th>
          <td>
            <textarea minlength="2" maxlength="300"
                      rows="4" cols="50"
                      class="form-control" name="content"
                      [(ngModel)]="actionPortionDto.content" #content="ngModel" required ></textarea>
            <div [hidden]="content.valid || content.untouched" class="error alert alert-danger">
              Некорректное поле
            </div>
          </td>
        </tr>

      </table>

      <Br>

      <button type="button"
              [disabled]="idUserImplementor.invalid || idActionType.invalid || idNotificationStatus.invalid || content.invalid"
              (click)="addActionAply()">
      СОХРАНИТЬ
      </button>

      <button type="button" class="green_button"
              [routerLink]="['..']">
      ОТМЕНА
      </button>

  </div>
</div>
