<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            <![CDATA[jdbc:mysql://127.0.0.1:3306/lanit?useSSL=false&useLegacyDatetimeCode=false&amp&serverTimezone=UTC]]></property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <mapping class="com.lanit.lkz_project.entities.ActionTypesEntity"/>
        <mapping class="com.lanit.lkz_project.entities.ActionsEntity"/>
        <mapping class="com.lanit.lkz_project.entities.NotificationStatusesEntity"/>
        <mapping class="com.lanit.lkz_project.entities.NotificationsEntity"/>
        <mapping class="com.lanit.lkz_project.entities.OrganizationsEntity"/>
        <mapping class="com.lanit.lkz_project.entities.UsersEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>