<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css"/>
</head>
<body class="error-page-body">
<h3 class="error-page-header">Unfortunately something went wrong. Our specialists are already fixing this issue.</h3>
<p>Reason: <span th:text="${reason}"></span></p>
<img class="error-page-walle" th:src="@{/walle.jpeg}">
</body>
</html>