<!--<app-common-header-user></app-common-header-user>-->
<div id="common_header_user">

  <table id="header_table">

    <th style="text-align: left;">
      <h5>ЛИЧНЫЙ КАБИНЕТ ЗАКАЗЧИКА</h5>
    </th>

    <th style="text-align: center;">
      <h5 *ngIf="user" >Oрганизация: {{user.organization.name}} </h5>
    </th>

    <th style="text-align: right;">

      <div *ngIf="user" class="account-header-user_info">
        <span id="attention_in_header_table" *ngIf="user.organization.government">Cотрудник органа власти</span>
        <Br>
        Текущий Пользователь: {{user.firstName}} {{user.lastName}}
      </div>

      <form #form action='/lkz_project-1.0-SNAPSHOT/output' method='post'>
        <button type="submit" (click)="form.submit()">Выйти</button>
      </form>

    </th>
  </table>
</div>
