h1, h2{color:navy;}
p{font-size:13px;}
:host {
  font-family: Verdana;
  color: #555;
}
div{
  margin: 9px 8px;
}

TABLE {
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
  width: 100%;/*  width: 300px; Ширина таблицы */
}
TH, TD {
  border: 1px solid black; /* Параметры рамки */
  text-align: left; /* Выравнивание по центру */
  padding: 1px; /* Поля вокруг текста */
}
TH {
  background: #fc0; /* Цвет фона ячейки */
  height: 40px; /* Высота ячеек */
  /*vertical-align: bottom;  Выравнивание по нижнему краю */
  padding: 0; /* Убираем поля вокруг текста */
}
.hoverElements:hover {background: #0078BF; color: #fff;}
