<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actions_list</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css"/>
</head>
<body>
<div th:insert="~{/fragments/Header :: account_header}"></div>
<nav class="not_info-navigation">
    <ul class="not_info-navigation-list">
        <li class="not_info-navigation-list-element">
            <form class="not_info-navigation-list-form" method="get" th:action="@{/account/notification_info/}">
                <label class="not_info-navigation-list-form-label-hidden" for="hidden1">
                    <input class="not_info-navigation-list-form-input-hidden" id="hidden1" name="id"
                           th:value="${notification.id}" type="hidden"/>
                </label>
                <label class="not_info-navigation-list-form-label" for="submit1">
                    <input class="not_info-navigation-list-form-input" id="submit1" type="submit"
                           value="Работа с уведомлением"/>
                </label>
            </form>
        </li>
        <li class="not_info-navigation-list-element">
            <form class="not_info-navigation-list-form" method="get"
                  th:action="@{/account/actions_history/}">
                <label class="not_info-navigation-list-form-label-hidden" for="hidden2">
                    <input class="not_info-navigation-list-form-input-hidden" id="hidden2" name="id"
                           th:value="${notification.id}" type="hidden"/>
                </label>
                <label class="not_info-navigation-list-form-label" for="submit2">
                    <input class="not_info-navigation-list-form-input" id="submit2" type="submit"
                           value="Журнал действий"/>
                </label>
            </form>
        </li>
    </ul>
</nav>
<main class="not_info-actions_history">
    <div class="not_info-actions_history-header">
        <h3>Журнал Действий</h3>
    </div>
    <table class="not_info-actions_history-table">
        <tr>
            <th>№</th>
            <th>Дата, время</th>
            <th>Комментарий</th>
            <th>Пользователь</th>
            <th>Подразделение</th>
            <th>Статус после изменения</th>
        </tr>
        <tr th:each="action,iterator : ${actions}">
            <td th:text="${iterator.index+1}">id</td>
            <td th:text="${#temporals.format(action.date, 'dd-MM-yyyy HH:mm')}">date</td>
            <td th:text="${action.content}">content</td>
            <td th:text="${action.implementor.firstName}+' '+${action.implementor.lastName}">implementor</td>
            <td th:text="${action.implementor.organization.name}">organization</td>
            <td th:text="${action.statusAfterAction.message}">status</td>
        </tr>
    </table>
</main>
</body>
</html>