<div id="content">
  <br>
  button = controlled_visibility
  <br>
  LEFT INFA ABOUT NOTIFICATION
  <br>

  <button type="button" class="green_button" [routerLink]="['add_action']">ADD ACTIONS</button>
  <br>

  <div id="pagination">

    <table>
      <td style="text-align: left">
        Найдено записей: {{render.pageImpl.totalElements}}
      </td>

      <td style="text-align: center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </td>

      <td style="text-align: right">
        <div id="selectMaxResult">
          Показывать по :

          <form (ngSubmit)="maxResultAply()"
                [formGroup]="maxResultForm" >
            <select type="text" formControlName="maxResult" (change)="maxResultAply()"> <!--name="maxResult"-->
              <option *ngFor="let maxResult of render.selectShowListMaxResult" [value]="maxResult"
                      [selected]="maxResult==render.state.paginationForm.maxResult">
                {{maxResult}}
              </option>
            </select>
          </form>

        </div>
      </td>

    </table>

  </div>

  <div id="list_actions">
    <table>
      <tr>
        <th>(Mock)
          <Br><input type="checkbox">
        </th>
        <th>№</th>
        <th>Тип действия</th>
        <th>Содержание</th>
        <th>Дата действия</th>
        <th>Исполнитель</th>
        <th>Подразделение</th>
        <th>Статус после изменения</th>
      </tr>

      <tr *ngFor = "let action of render.pageImpl.content | paginate: {
      itemsPerPage: render.state.paginationForm.maxResult,
      currentPage: render.state.paginationForm.page + 1,
      totalItems : render.pageImpl.totalElements }; let i= index;"
      >
        <td><input type="checkbox"></td>
        <td>{{(i+1) + render.state.paginationForm.page * render.state.paginationForm.maxResult}}</td>
        <td>{{action.actionType.name}}</td>
        <td>{{action.content}}</td>
        <td>{{action.date | date :"yyyy-MM-dd"}}</td>
        <td>{{action.userByIdImplementor.lastName}}</td><!--.name-->
        <td>{{action.userByIdImplementor.organization.name}}</td>
<!--        //    todo REPLACY (вдруг этот чувак уже поменял работу)-->
        <td>{{action.statusAfterProcessing.name}}</td>
      </tr>
    </table>
  </div>

</div>
