<div id="content">

  <div id="common_info_about_notification">
    <h5 style="text-transform: uppercase;">
      {{render.currentNotification.notificationType}}
    </h5>
    <div class="controlled_visibility div-default-visibility-false" id="controlled_visibility-common_info_about_notification">
      <table class="table4input_data" >
        <tr>
          <th>
            Номер уведомления:
          </th>
          <td>
            <input type="text" name="id" value="{{render.currentNotification.id}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Номер письма:
          </th>
          <td>
            <input type="text" name="letterNumber" value="{{render.currentNotification.letterNumber}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Заказчик:
          </th>
          <td>
            <input type="text" name="organization.name" value="{{render.currentNotification.organization.name}}"
                   disabled>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--DIV id="contract"-->

  <div id="answer_preparation">
    <h5 style="text-transform: uppercase;">
      ПОДГОТОВКА ОТВЕТА
    </h5>
    <div class="controlled_visibility div-default-visibility-false" id="controlled_visibility-answer_preparation">
      <table class="table4input_data">
        <tr>
          <th>
            Ответ направлен:
          </th>
          <td>
            (не понятна бизнес логика)(Mock)(Индикатор состояния)
          </td>
        </tr>
        <tr>
          <th>
            Срок предоставления ответа:
          </th>
          <td>
            <input type="text" name="dateResponse" value="{{render.currentNotification.dateResponse | date :'yyyy-MM-dd'}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Заказчик:
          </th>
          <td>
            <input type="text" name="organization.name" value="{{render.currentNotification.organization.name}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Дата последнего направления ответа:
          </th>
          <td>
            <input type="text" name="MOCK_lastAction_Date" value="{{render.latestAction.date | date :'yyyy-MM-dd'}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Дата получения уведомления:
          </th>
          <td>
            <input type="text" name="dateReceived" value="{{render.currentNotification.dateReceived | date :'yyyy-MM-dd'}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Статус уведомления:
          </th>
          <td>
            <input type="text" name="status.name" value="{{render.currentNotification.status.name}}"
                   disabled>
          </td>
        </tr>
        <tr>
          <th>
            Куратор:
          </th>
          <td>
            <input type="text" name="userByIdUserCuratorGos"
                   value="{{render.currentNotification.userByIdUserCuratorGos.firstName.trim()}} {{render.currentNotification.userByIdUserCuratorGos.lastName.trim()}}"
                   disabled>
            (не понятна бизнес логика)(Mock)[Должно быть: Поле для ввода и отправки]
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!--<button type="button" class="green_button" (click)="add_action()" [routerLink]="['add_action']">ADD ACTIONS</button>-->
  <button type="button" class="green_button" (click)="add_action()">ADD ACTIONS</button>
  <br>

  <!--<div id="selectSort">-->
    <!--<form (ngSubmit)="selectSort()"-->
          <!--[formGroup]="sortForm" >-->
      <!--selectSort :-->
      <!--<select type="text" formControlName="orderFieldName" (change)="selectSort()">-->
        <!--<option *ngFor="let orderFieldName of render.columnTable" [value]="orderFieldName.varName"-->
                <!--[selected]="orderFieldName.varName.trim()==render.state.orderByForm.orderFieldName.trim()">-->
          <!--&lt;!&ndash;TODO equals string&ndash;&gt;-->

          <!--{{orderFieldName.description}}-->
        <!--</option>-->
      <!--</select>-->
      <!--<br>Применить обратный порядок:-->
      <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->
      <!--<input-->
        <!--type="checkbox" [checked]="render.state.orderByForm.desc"-->
        <!--formControlName ="desc" value="true"-->
        <!--(change)="selectSort()"-->
      <!--&gt;-->
    <!--</form>-->
  <!--</div>-->

  <div id="pagination">

    <table>
      <td style="text-align: left">
        Найдено записей: {{render.pageImpl.totalElements}}
      </td>

      <td style="text-align: center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </td>

      <td style="text-align: right">
        <div id="selectMaxResult">
          Показывать по :

          <form (ngSubmit)="maxResultAply()"
                [formGroup]="maxResultForm" >
            <select type="text" formControlName="maxResult" (change)="maxResultAply()"> <!--name="maxResult"-->
              <option *ngFor="let maxResult of render.selectShowListMaxResult" [value]="maxResult"
                      [selected]="maxResult==render.state.paginationForm.maxResult">
                {{maxResult}}
              </option>
            </select>
          </form>

        </div>
      </td>

    </table>

  </div>

  <div id="list_actions">
    <table>
      <tr>
        <th>(Mock)
          <Br><input type="checkbox">
        </th>
        <th>№</th>
        <th>Тип действия</th>
        <th>Содержание</th>
        <th>Дата действия</th>
        <th>Исполнитель</th>
        <th>Подразделение</th>
        <th>Статус после изменения</th>
      </tr>

      <tr *ngFor = "let action of render.pageImpl.content | paginate: {
      itemsPerPage: render.state.paginationForm.maxResult,
      currentPage: render.state.paginationForm.page + 1,
      totalItems : render.pageImpl.totalElements }; let i= index;"
      >
        <td><input type="checkbox"></td>
        <td>{{(i+1) + render.state.paginationForm.page * render.state.paginationForm.maxResult}}</td>
        <td>{{action.actionType.name}}</td>
        <td>{{action.content}}</td>
        <td>{{action.date | date :"yyyy-MM-dd"}}</td>
        <td>{{action.userByIdImplementor.lastName}}</td><!--.name-->
        <td>{{action.userByIdImplementor.organization.name}}</td>
<!--        //    todo REPLACY (вдруг этот чувак уже поменял работу)-->
        <td>{{action.statusAfterProcessing.name}}</td>
      </tr>
    </table>
  </div>

</div>
